# Exemplo - Preencha e renomeie o arquivo para application.properties

spring.application.name=iam
spring.datasource.url=jdbc:postgresql://localhost:5432/iam_db
spring.datasource.username=SEU_USUARIO
spring.datasource.password=SUA_SENHA
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update
api.security.token.secret=sua_senha_aqui
spring.rabbitmq.host=localhost
spring.rabbitmq.port=5672
spring.rabbitmq.username=guest
spring.rabbitmq.password=guest