# Exemplo - Preencha e renomeie o arquivo para application.properties

spring.application.name=iam
spring.datasource.url=jdbc:postgresql://localhost:5432/iam_db
spring.datasource.username=SEU_USUARIO
spring.datasource.password=SUA_SENHA
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update
api.security.token.secret=sua_senha_aqui
spring.cloud.aws.credentials.access-key=SUA_ACCESS_KEY_AQUI
spring.cloud.aws.credentials.secret-key=SUA_SECRET_KEY_AQUI
spring.cloud.aws.region.static=sa-east-1
spring.mail.host=sandbox.smtp.mailtrap.io
spring.mail.port=2525
spring.mail.username=CHAVE
spring.mail.password=SENHA
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true